
a {
    color: inherit;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: lightgray;
}
a:link {
    color: inherit;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: lightgray;
}
a:visited {
    color: inherit;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: lightgray;
}
